* {
    padding: 0px;
    margin: 0px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 100;
}

#element-for-modify {
    color: red;
}

[probar="sii"] {
    color: blue;
}

h1 {
    color: purple;
}

h2 {
    color: rgb(2, 56, 63);
}

h2 p {
    color: orange;
}

h2 p span {
    color: rgb(68, 170, 201);
}

h2 b {
    color: rgb(55, 160, 60);
}

h2 b:hover {
    color: rgb(224, 125, 216);
}

h2 {
    display: inline;
    background-color: royalblue;
    text-align: center;
    padding: 1px 0px 1px 1px;
    border: 4px inset gray;
    margin: 12px;
    box-sizing: border-box;
    box-shadow: 2px 4px 5px 0 greenyellow;
    text-shadow: 2px 2px 7px white;
}

p span {
    color: brown;
}

.contac-form__input--active {
    color: red;
}

.contact-form {
    font-size: 25px;
    background-color: rgb(255, 241, 45);
    width: 100vw;
    height: 15vw;
}

.contact-form__p-h2 {
    font-size: 2em;
    font-family: sans-serif;
    color: skyblue;
}


